<div class="pages_text">
	<h1>DiamondCrunch</h1>
	<p>Welcome to my baseball/softball number cruncher app!</p>
	<h2><u>Let's play ball!</u></h2>
	<h4>routes:</h4>
	<ul>
		<li>Step 1</li>
		<ul>
			<li><%= link_to "create a league", new_league_path %></lI>
			<li><%= link_to "create a team", new_team_path %></li>
			<li><%= link_to "create a player", new_player_path %></li>
		</ul>
		<li>Step 2</li>
		<ul>
			<li>record a game as you play</li>
			OR
			<li>record a completed game</li>
		</ul>
		<li>Step 3</li>
		<ul>
			<li>view team stats</li>
			<li>view player stats</li>
			<li>projections, recommendations, etc</li>
		</ul>
	</ul>
</div>
