// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 body {
 	margin-top: 50px;
 	background-color: #A6D785;
 }

 .pages_text {
 	font-family: Lucida, Helvetica, Arial;
 }

.pages_text li {
	font-size: 18px;
}

 nav li {
 	font-size: 18px;
 }